{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <header>
    <h1>{{name}}</h1>
    <br />
    <div>
      Year and place of birth:
      {{birthdate}};
      {{birthplace}}
    </div>
    <div>
      Year and place of death:
      {{deathdate}};
      {{deathplace}}
    </div>
    <br />
    <div>Nationality: {{nationality}}</div>
    <br />
    <div>
      <strong>{{occupation}}</strong>
    </div>
    <br />
    <div>
      <div>Known for:</div>
      <ul>
        {{#each known_for}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <hr />
  </header>

  <main>
    <section>
      <h2>Education</h2>
      {{#each education}}
        <div>{{degree}}</div>
        <div><em>{{field}}</em></div>
        <div><b>{{institution}}
            ({{year}})</b></div>
      {{/each}}
    </section>
    <hr />
    <section>
      <h3>Notable publications</h3>
      <ul>
        {{#each notable_publications}}
          <li>
            <div><em>{{title}}</em></div>
            <div>{{publisher}} ({{year}})</div>
            <br />
          </li>
        {{/each}}
      </ul>
    </section>
    <hr />
    <section>
      <h3>Partners</h3>
      <ol tapy='1'>
        {{#each partners}}
          <li>
            <div><b>{{name}} ({{years}})</b></div>
            <div>{{relationship}} </div>
            <br />
          </li>
        {{/each}}
      </ol>
    </section>
    <hr />
    <section>
      <h3>Awards</h3>
      {{#each awards}}
        <div><em>{{title}} ({{year}})</em></div>
        <div><p>{{description}}</p></div>
      {{/each}}
    </section>
    <hr />
    <section>
      <h3>Influences</h3>
      <ul>
        {{#each influences}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </section>
    <hr />
    <section>
      <h3>Influenced</h3>
      <ul>
        {{#each influenced}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </section>
    <hr />
    <section>
      <h3>Quotes</h3>
      <ol tapy='1'>
        {{#each quotes}}
          <li>{{this}}</li>
        {{/each}}
      </ol>
    </section>
    <hr />
    <section>
      <h3>Major discoveries</h3>
      {{#each major_discoveries}}
        <div><em>{{title}} ({{year}})</em></div>
        <div><p>{{description}}</p></div>
      {{/each}}
    </section>
    <hr />
    <section>
      <h3>Contributions</h3>
      {{#with contributions}}
        <div><em>{{title}}</em></div>
        <div>
          <p>
            <q>{{description}}</q>
            {{year}}
            ({{field}})
          </p>
        </div>
      {{/with}}
    </section>

  </main>

</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}