{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div class='row p-5'>
  {{#with program}}
    <header>
      <div>
        <h1>{{excursion.name}}</h1>
      </div>
      <div>
        {{#with excursion}}
          <div>
            <b>{{location.country}}, {{location.city}}</b>
          </div>
          <div>
            <b>{{date}}</b>
          </div>
        {{/with}}
      </div>
    </header>
    <hr />
    <main>
      <h2>Program</h2>
      <section>
        {{#with excursion}}
          <ul>
            {{#each program}}
              <li>
                <div>
                  <h3>{{name}}</h3>
                </div>
                <div>{{type}} - {{duration}} hours</div>
                <br />
                {{#with details}}
                  <div>
                    {{#with museum}}
                      <div>
                        <strong>Museum:</strong>
                        {{name}}
                      </div>
                      <div>
                        {{location.address}},
                        {{location.city}},
                        {{location.country}}
                      </div>
                      <br />
                      <ul>
                        {{#each exhibits}}
                          <li>
                            <div><em>{{name}}</em>
                              {{artist}}</div>
                            <p>{{description}}</p>
                            {{#if audio_guide}}
                              <b>audio guide</b>
                            {{/if}}
                          </li>
                          <br />
                        {{/each}}
                      </ul>
                    {{/with}}
                    {{#with venue}}
                      <div>
                        <strong>Venue:</strong>
                        {{name}}
                      </div>
                      <div>
                        {{location.address}},
                        {{location.city}},
                        {{location.country}}
                      </div>
                    {{/with}}
                  </div>
                  <br />
                  <div>
                    <ul>
                      {{#each performers}}
                        <li>
                          <div>{{name}} ({{type}})</div>
                        </li>
                        <br />
                      {{/each}}
                    </ul>
                  </div>
                  <br />
                  {{#with guide}}
                    <div><b>Guide:</b> {{name}}</div>
                    <div>Language: {{language}}</div>
                    <div>Rating: {{rating}}</div>
                  {{/with}}
                  <br />

                {{/with}}
              </li>
            {{/each}}
          </ul>
        {{/with}}
      </section>
    </main>
  {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}